@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #111826;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.spinner {
	border: 2px solid rgba(0, 0, 0, 0.1); /* MĂ u xĂ¡m nháº¡t */
	border-top: 2px solid #000; /* MĂ u Ä‘en */
	border-radius: 50%;
	width: 20px; /* KĂ­ch thÆ°á»›c spinner */
	height: 20px;
	animation: spin 0.6s linear infinite;
	margin-left: 5px; /* CĂ¡ch giá»¯a spinner vĂ  text */
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
